<a href="https://colab.research.google.com/github/EliasUlloa/2025-test-python/blob/main/%5B1%5D_Progama_Python_UTEC_Sesion01_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1] Ejemplos de resultados en Python (listas)

### [1.1] De expresiones regulares

In [ ]:
import re

In [ ]:
texto = "Mi correo personal es david.allendeq@gmail.com y mi correo corporativo es david.allende@misdsolutions.com"

In [ ]:
print(texto)

Mi correo personal es david.allendeq@gmail.com y mi correo corporativo es david.allende@misdsolutions.com

In [ ]:
correos = re.findall(r'\S+@\S+',texto)

In [ ]:
print(correos)

['david.allendeq@gmail.com', 'david.allende@misdsolutions.com']

In [ ]:
type(correos)

list

### [1.2] Del uso de librer√≠as

In [ ]:
import sys

sys.path

['/content',
 '/env/python',
 '/usr/lib/python312.zip',
 '/usr/lib/python3.12',
 '/usr/lib/python3.12/lib-dynload',
 '',
 '/usr/local/lib/python3.12/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.12/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
type(sys.path)

list

### [1.3] De Dataframes

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/clientes.csv",sep=';')

In [ ]:
print(df)

    ID  EDAD  INGRESOS RIESGO  LINEA_TC
0  123    36      1348      A     49924
1  234    52      9479      A     28454
2  345    60      7511      B     14250
3  456    40      7992      C     32064
4  567    58      2675      C      1485
5  678    47      7086      D     29157
6  789    31      4704      E     14945
7  999    42      6245      E      8798

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
variables = df.columns.to_list()
variables

['ID', 'EDAD', 'INGRESOS', 'RIESGO', 'LINEA_TC']

In [ ]:
type(variables)

list

## [2] Creaci√≥n de listas

### Actividad N001

In [ ]:
# Lista de mis 5 lugares favoritos para vacacionar
lugares=["Arequipa", "Selva central", "Cuzco", "Ica","Trujillo"]

In [ ]:
print(f"Mis lugares favoritos para vacacionar son \n{lugares}")

Mis lugares favoritos para vacacionar son
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo']

## [3] Tipos de listas

### Actividad N002

In [ ]:
nombre = 'David'
apellidoPaterno = 'Allende'
profesion = 'Estad√≠stico'
edad = 37
centroLaboral = 'MISD Solutions'
aniosExperiencia = 13

In [ ]:
print(aniosExperiencia)

13

In [ ]:
info_personal = [nombre,apellidoPaterno,profesion,edad,centroLaboral,aniosExperiencia]

In [ ]:
type(info_personal)

list

In [ ]:
print(f"Mi lista con mi informaci√≥n personal es \n{info_personal}")

Mi lista con mi informaci√≥n personal es
['David', 'Allende', 'Estad√≠stico', 37, 'MISD Solutions', 13]

## [4] Acceder a los elementos de una lista

### Actividad N003

In [ ]:
print(f"La lista de mis 5 lugares favoritos es \n{lugares}")

La lista de mis 5 lugares favoritos es
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo']

In [ ]:
print(f"El tercer lugar es {lugares[2]}")

El tercer lugar es Cuzco

In [1]:
print(f"Mi lugar favorito nro 3 es\n{lugares[3]}")

NameError: name 'lugares' is not defined

In [ ]:
print(f"Mi lugar favorito nro 5 es\n{lugares[-1]}")

Mi lugar favorito nro 5 es
Trujillo

In [ ]:
# Tipo de dato del elemento que se encuentra en la √∫ltima posici√≥n de la lista lugares
type(lugares[-1])

str

In [ ]:
print(f"Mi lugar favorito nro 5 es\n{lugares[-1].upper()}")

Mi lugar favorito nro 5 es
TRUJILLO

In [ ]:
print(f"Mi lugar favorito nro 5 es\n{lugares[-1].lower()}")

Mi lugar favorito nro 5 es
trujillo

### Actividad N004

In [ ]:
print(f"La lista con mi informaci√≥n personal es \n{info_personal}")

La lista con mi informaci√≥n personal es
['David', 'Allende', 'Estad√≠stico', 37, 'MISD Solutions', 13]

In [ ]:
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, tengo {info_personal[3]} a√±os, trabajo en la empresa {info_personal[4]} y tengo {info_personal[5]} de experiencia profesional.")

Hola, me llamo David Allende soy Estad√≠stico, tengo 37 a√±os, trabajo en la empresa MISD Solutions y tengo 13 de experiencia profesional.

### Actividad N005

In [ ]:
marcas = ['nike','adidas','puma','new balance','walon']

In [ ]:
print(f"La lista marcas es \n{marcas}")

La lista marcas es
['nike', 'adidas', 'puma', 'new balance', 'walon']

In [ ]:
print(f"El √∫ltimo elemento de la lista marcas es {marcas[-1]}")

El √∫ltimo elemento de la lista marcas es walon

In [ ]:
print(f"El √∫ltimo elemento de la lista marcas es {marcas[-1].capitalize()}")

El √∫ltimo elemento de la lista marcas es Walon

In [ ]:
marcas.append('Coca Cola') # append me permite a√±adir elementos al final de la lista
print(f"La lista marcas actualizada es \n{marcas}")

La lista marcas actualizada es
['nike', 'adidas', 'puma', 'new balance', 'walon', 'Coca Cola']

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Ingresando elementos a una lista a partir de un bucle FOR por teclado
marcas=[] # lista vac√≠a
for i in range(5):
  ingreso_marcas = input(f"Ingrese la marca # {i+1}: ").capitalize()
  marcas.append(ingreso_marcas)
print(f"La lista marcas es \n{marcas}")
print(f"El √∫ltimo elemento ingresado a la lista marcas es {marcas[-1]}")

Ingrese la marca # 1: a
Ingrese la marca # 2: f
Ingrese la marca # 3: g
Ingrese la marca # 4: e
Ingrese la marca # 5: g
La lista marcas es
['A', 'F', 'G', 'E', 'G']
El √∫ltimo elemento ingresado a la lista marcas es G

## [5] Modificar los elementos de una lista

In [ ]:
print(f"Mi lista de marcas favoritas es \n{marcas}")

Mi lista de marcas favoritas es
['A', 'F', 'G', 'E', 'G']

In [ ]:
marcas[-1] = 'BCP'

In [ ]:
print(f"Mi lista actualizada de marcas favoritas es \n{marcas}")

Mi lista actualizada de marcas favoritas es
['A', 'F', 'G', 'E', 'BCP']

### Actividad N006

In [ ]:
nombre = 'Juan'
apellidoPaterno = 'Alarcon'
profesion = 'Sistemas'
edad = 38
centroLaboral = 'Scotiabank Peru'
aniosExperiencia = 15

info_personal = [nombre,apellidoPaterno,profesion,edad,centroLaboral,aniosExperiencia]
print(f"Mi informacion personal es \n {info_personal}")
info_personal[4]="BBVA"
print(f"\nMi informacion personal es actaulizada \n {info_personal}")

Mi informacion personal es
 ['Juan', 'Alarcon', 'Sistemas', 38, 'Scotiabank Peru', 15]

Mi informacion personal es actaulizada
 ['Juan', 'Alarcon', 'Sistemas', 38, 'BBVA', 15]

## [6] A√±adir elementos a una lista

### [6.1] M√©todo .append()

### Actividad N007

In [ ]:
print(f"Mis lugares favoritos para visitar son : \n{lugares}")

Mis lugares favoritos para visitar son :
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo']

In [ ]:
lugares.append('Amazonas')
print(f"La lista de lugares actualizada es \n{lugares}")

La lista de lugares actualizada es
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo', 'Amazonas']

### [6.2] M√©todo .insert()

### Actividad N008

In [ ]:
print(f"La lista de mi informaci√≥n personal es \n{info_personal}")

La lista de mi informaci√≥n personal es
['Juan', 'Alarcon', 'Sistemas', 38, 'BBVA', 15]

In [ ]:
info_personal.insert(3,'Utec')

In [ ]:
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, estudi√© en la instituci√≥n {info_personal[3].upper()}, tengo {info_personal[4]} a√±os, trabajo en la empresa {info_personal[5]} y tengo {info_personal[6]} a√±os de experiencia profesional.")

Hola, me llamo Juan Alarcon soy Sistemas, estudi√© en la instituci√≥n UTEC, tengo 38 a√±os, trabajo en la empresa BBVA y tengo 15 a√±os de experiencia profesional.

## [7] Eliminar elementos de una lista

### [7.1] M√©todo del

### Actividad N009

In [ ]:
print(f"La lista marcas es \n{marcas}")

La lista marcas es
['A', 'F', 'G', 'E', 'BCP']

In [ ]:
del marcas[1]
print(f"La lista marcas es \n{marcas}")

La lista marcas es
['A', 'G', 'E', 'BCP']

In [ ]:
ele_ = marcas.pop()
print(f"marcas{marcas}")
print(f"ele_{ele_}")

marcas['A', 'G']
ele_E

In [ ]:
print(f"lugares{lugares}")

lugares['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo', 'Amazonas']

In [ ]:
ele_2 = lugares.pop(2)
print(f"lugares {lugares}")
print(f"ele_2 {ele_2}")

lugares ['Arequipa', 'Selva central', 'Trujillo', 'Amazonas']
ele_2 Ica

In [ ]:
marcas = ["nike","adidas","puma","renzo costa","bruno ferrini"]
print(f"la lista original de marcas m√°s recordadas es : es \n {marcas}")
marcas.remove("adidas")

la lista original de marcas m√°s recordadas es : es
 ['nike', 'adidas', 'puma', 'renzo costa', 'bruno ferrini']

In [ ]:
stem = ['science','tecnology','engineering','amazonas','imagen']
## stem.remove('TECNOLOGY')

In [ ]:
print(f"la lista original stem es \n{stem}")
stem.sort()
print(f"la lista original stem es \n{stem}")

la lista original stem es
['science', 'tecnology', 'engineering', 'amazonas', 'imagen']
la lista original stem es
['amazonas', 'engineering', 'imagen', 'science', 'tecnology']

In [ ]:
paises = ['per√∫','argentina','israel','jordania','india','chile','venezuela']
print(f"la lista original de paises es \n{paises}")
paises.sort()
print(f"la lista original de paises ordenada ascendentemente es \n{paises}")
paises.sort(reverse=1)
print(f"la lista original de paises ordenad descendentemente es \n{paises}")

la lista original de paises es
['per√∫', 'argentina', 'israel', 'jordania', 'india', 'chile', 'venezuela']
la lista original de paises ordenada ascendentemente es
['argentina', 'chile', 'india', 'israel', 'jordania', 'per√∫', 'venezuela']
la lista original de paises ordenad descendentemente es
['venezuela', 'per√∫', 'jordania', 'israel', 'india', 'chile', 'argentina']

In [ ]:
paises = ['per√∫','argentina','israel','jordania','India','Chile','venezuela']
print(f"la lista original de paises es \n{paises}")
paises.sort()
print(f"la lista original de paises ordenada ascendentemente es \n{paises}")
paises.sort(reverse=1)
print(f"la lista original de paises ordenad descendentemente es \n{paises}")

la lista original de paises es
['per√∫', 'argentina', 'israel', 'jordania', 'India', 'Chile', 'venezuela']
la lista original de paises ordenada ascendentemente es
['Chile', 'India', 'argentina', 'israel', 'jordania', 'per√∫', 'venezuela']
la lista original de paises ordenad descendentemente es
['venezuela', 'per√∫', 'jordania', 'israel', 'argentina', 'India', 'Chile']

In [ ]:
numeros = [10,1,5,50,2,5,15]
print(f"la lista original de numeros es \n{numeros}")
numeros.sort()
print(f"la lista original de numeros ordenada ascendentemente es \n{numeros}")

la lista original de numeros es
[10, 1, 5, 50, 2, 5, 15]
la lista original de numeros ordenada ascendentemente es
[1, 2, 5, 5, 10, 15, 50]

In [ ]:
paises = ['per√∫','argentina',100,50,'israel','jordania','India','Chile','venezuela']
print(f"la lista original de paises es \n{paises}")
#paises.sort()
#print(f"la lista original de paises ordenada ascendentemente es \n{paises}")
#paises.sort(reverse=1)
#print(f"la lista original de paises ordenad descendentemente es \n{paises}")

la lista original de paises es
['per√∫', 'argentina', 100, 50, 'israel', 'jordania', 'India', 'Chile', 'venezuela']

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
paises_v = ['israel','jap√≥n','corea','jordania','china']
print(f"lista paises ascendente temporal de paises es \n{sorted(paises_v)}")
print(f"la lista paises ordenado descendentemente temporal es \n{sorted(paises_v,reverse=True)}")
print(f"la lista paises es \n{paises_v}")

lista paises ascendente temporal de paises es
['china', 'corea', 'israel', 'jap√≥n', 'jordania']
la lista paises ordenado descendentemente temporal es
['jordania', 'jap√≥n', 'israel', 'corea', 'china']
la lista paises es
['israel', 'jap√≥n', 'corea', 'jordania', 'china']

In [ ]:
print(listas_mas_usadas)

['nike', 'puma', 'renzo costa', 'bruno ferrini']

In [ ]:
print(f"La lista stem es \n {stem}")
stem.reverse()
print(f"La lista stem es \n {stem}")

La lista stem es
 ['tecnology', 'science', 'imagen', 'engineering', 'amazonas']
La lista stem es
 ['amazonas', 'engineering', 'imagen', 'science', 'tecnology']

In [ ]:
universidades = ['pucp','usil','esan','ulima','usmp','utec']
print(f"La lista de universidades es \n{universidades}")
universidades.reverse()
print(f"La lista de universidades es \n{universidades}")

La lista de universidades es
['pucp', 'usil', 'esan', 'ulima', 'usmp', 'utec']
La lista de universidades es
['utec', 'usmp', 'ulima', 'esan', 'usil', 'pucp']

In [ ]:
len(universidades)

6

In [ ]:
print(f"La lista info_personal es \n{info_personal}")
print(f"La longitud de la lista info_personal es {len(info_personal)}")

La lista info_personal es
['Juan', 'Alarcon', 'Sistemas', 'Utec', 38, 'BBVA', 15]
La longitud de la lista info_personal es 7

In [ ]:
librerias = ['numpy','pandas', '','','']
print(f"La lista de librerias es \n{librerias}")

La lista de librerias es
['numpy', 'pandas', '', '', '']

In [ ]:
productos = ['papel higienico','prestobarba','cepillo']
print(f"Mi lista de compra habitual en el supermercado es:")
for i in range(len(productos)):
  print(f"El producto nro {i+1} es {productos[i]}")
print(f"Mi presupuesto principalmente se basa en esta lista")

Mi lista de compra habitual en el supermercado es:
El producto nro 1 es papel higienico
El producto nro 2 es prestobarba
El producto nro 3 es cepillo
Mi presupuesto principalmente se basa en esta lista

In [ ]:
productos = ['papel higienico','prestobarba','cepillo']
print(f"Mi lista de compra habitual en el supermercado es:")
for producto in productos:
  print(f"El producto nro {i+1} es {producto}")
print(f"Mi presupuesto principalmente se basa en esta lista")

Mi lista de compra habitual en el supermercado es:
El producto nro 3 es papel higienico
El producto nro 3 es prestobarba
El producto nro 3 es cepillo
Mi presupuesto principalmente se basa en esta lista

In [ ]:
print(f"En python las librerias mas populares son")
for libreria in librerias:
  print('-',libreria)
  print("Tengo experiencia profesional trabajando con dichas librerias en Python")

En python las librerias mas populares son
- numpy
Tengo experiencia profesional trabajando con dichas librerias en Python
- pandas
Tengo experiencia profesional trabajando con dichas librerias en Python
-
Tengo experiencia profesional trabajando con dichas librerias en Python
-
Tengo experiencia profesional trabajando con dichas librerias en Python
-
Tengo experiencia profesional trabajando con dichas librerias en Python

In [ ]:
paises = ['Israel','EEUU','Espa√±a']
for pais in paises:
  print(pais)
print(f'tienen la caracteristica que son democr√°ticos')

Israel
EEUU
Espa√±a
tienen la caracteristica que son democr√°ticos

In [ ]:
numeros = list(range(1,11))
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
correlativos = list(range(10,21))
for correlativo in correlativos:
  print(correlativo)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
correlativos = list(range(10,21))
for correlativo in correlativos:
  print(correlativo)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
pares = list(range(2,12,2))
print(pares)

[2, 4, 6, 8, 10]

In [ ]:
cuadrados = []
for par in pares:
  cuadrado = par**2
  cuadrados.append(cuadrado)
print(pares)
print(cuadrados)
print(min(cuadrados))
print(sum(cuadrados))
print(len(cuadrados))

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]
4
220
5

In [ ]:
cuadrados = []
for par in pares:
  cuadrado = par **2
  cuadrados.append(cuadrado)
print(f"La lista de pares es \n{pares}")
print(f"La lista de cuadrados es \n{cuadrados}")

La lista de pares es
[2, 4, 6, 8, 10]
La lista de cuadrados es
[4, 16, 36, 64, 100]

In [ ]:
cuadrados2 = [par **2 for par in pares]

In [ ]:
print(cuadrados2)

[4, 16, 36, 64, 100]

In [ ]:
print(correlativos)

range(10, 21)

In [ ]:
correlativosn_1 = []
for i in correlativos:
  tmp = i+5
  correlativosn_1.append(tmp)
print(correlativosn_1)

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [ ]:
correlativosn_2 = [i+5 for i in correlativos]

In [2]:
print(correlativosn_2)

NameError: name 'correlativosn_2' is not defined

In [8]:
correlativos = list(range(2,22,2))
for i in correlativos:
  print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
cuadrados = []
for par in correlativos:
  cuadrado = par**2
  cuadrados.append(cuadrado)
print(cuadrados)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [14]:
correlativos = list(range(10,21))
print(correlativos)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
correlativosn = []
for i in correlativos:
  tmp = i+5
  correlativosn.append(tmp)
print(correlativosn)

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [18]:
correlativosn_ = [i+5 for i in correlativos]
print(correlativosn_)

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [36]:
universidades = ['utec','ulima','unmsm','uni','utp','ucv']
print(universidades)
#universidades[-3:]

['utec', 'ulima', 'unmsm', 'uni', 'utp', 'ucv']

In [31]:
librerias = 'numpy','pandas','scipy','matplotlib','scikit learn'
estudios = universidades

In [37]:
universidades.append('harvard')
estudios.append('mit')
print(estudios)

['utec', 'ulima', 'unmsm', 'uni', 'utp', 'ucv', 'harvard', 'harvard', 'mit', 'harvard', 'mit', 'mit', 'mit']

In [26]:
print(universidades)

['utec', 'ulima', 'usmsm', 'uni', 'utp', 'ucv']

In [39]:
print(correlativos)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [45]:
listax = list(range(2,201,2))
print(listax)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [46]:
el_1 = listax.pop()
print(el_1)

200

In [48]:
el_2 = listax.pop(0)
print(el_2)

4

In [50]:
numeros_eliminados = []
numeros_eliminados.append(el_2)
numeros_eliminados.append(el_1)
print(numeros_eliminados)

[4, 200]

In [52]:
print(f'el valor minimo de la lista es {min(listax)}')
print(f'el valor maximo de la lista es {max(listax)}')

el valor minimo de la lista es 6
el valor maximo de la lista es 198

In [86]:
lista_pasaje = []
n = int(input('cuanto elementos quieres que tenga el elemento '))

for i in range(1,n+1):
  valor_ingresar = int(input(f'ingrese pasaje {i}: '))
  lista_pasaje.append(valor_ingresar)
print(f'la lista valores es \n {lista_pasaje}')
print(f'el valor minimo de la lista es: {min(lista_pasaje)}')
print(f'el valor maximo de la lista es: {max(lista_pasaje)}')
print(f'la lista tiene {len(lista_pasaje)} elementos')

cuanto elementos quieres que tenga el elemento 4
ingrese pasaje 1: 9
ingrese pasaje 2: 7
ingrese pasaje 3: 8
ingrese pasaje 4: 6
la lista valores es
 [9, 7, 8, 6]
el valor minimo de la lista es: 6
el valor maximo de la lista es: 9
la lista tiene 4 elementos
None

In [90]:
lista_x = ['A','B','b','c','E','E','F']
print(lista_x)
elemento_a_eliminar = input('ingrese el elemento a eliminar: ')
lista_x.remove(elemento_a_eliminar)
print(lista_x)

['A', 'B', 'b', 'c', 'E', 'E', 'F']
ingrese el elemento a eliminar: A
['B', 'b', 'c', 'E', 'E', 'F']

In [91]:
lista_x = ['A','B','b','c','E','E','F']
print(lista_x)
elemento_a_eliminar = input('ingrese el elemento a eliminar: ')
lista_x.remove(elemento_a_eliminar)
print(lista_x)

['A', 'B', 'b', 'c', 'E', 'E', 'F']
ingrese el elemento a eliminar: a

ValueError: list.remove(x): x not in list

In [93]:
lista_x = ['A','B','b','c','E','E','F']
print(lista_x)
elemento_a_eliminar = input('ingrese el elemento a eliminar: ')
lista_pivot = []
for i in lista_x:
  if i != elemento_a_eliminar:
    lista_pivot.append(i)
print(lista_pivot)

['A', 'B', 'b', 'c', 'E', 'E', 'F']
ingrese el elemento a eliminar: a
['A', 'B', 'b', 'c', 'E', 'E', 'F']

In [105]:
import pandas as pd
data = pd.read_csv('clientes.csv',sep=';')
dimensiones = data.shape
print(f'la base de datos tiene {dimensiones[0]} filas y {dimensiones[1]} columnas')

la base de datos tiene 8 filas y 5 columnas

In [106]:
type(data)

pandas.core.frame.DataFrame

In [108]:
tupla_0 = ('ibk','bcp','bbva')
print(tupla_0)

('ibk', 'bcp', 'bbva')

In [110]:
type(tupla_0)

tuple

In [117]:
equipos = ('universitario','alianza lima','sporting cristal','sport boys','juan aurich')
#print(equipos)
print(f'el 2do elemnto de la tupla es {equipos[1]}')
equipos[1] = 'sporting cristal' # no soporta

el 2do elemnto de la tupla es alianza lima

TypeError: 'tuple' object does not support item assignment

In [ ]:
#from google.colab import drive
#drive.mount('/drive')