<a href="https://colab.research.google.com/github/EliasUlloa/2025-test-python/blob/main/%5B1%5D_Progama_Python_UTEC_Sesion01_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1] Ejemplos de resultados en Python (listas)

### [1.1] De expresiones regulares

In [ ]:
import re

In [ ]:
texto = "Mi correo personal es david.allendeq@gmail.com y mi correo corporativo es david.allende@misdsolutions.com"

In [ ]:
print(texto)

Mi correo personal es david.allendeq@gmail.com y mi correo corporativo es david.allende@misdsolutions.com

In [ ]:
correos = re.findall(r'\S+@\S+',texto)

In [ ]:
print(correos)

['david.allendeq@gmail.com', 'david.allende@misdsolutions.com']

In [ ]:
type(correos)

list

### [1.2] Del uso de librer√≠as

In [ ]:
import sys

sys.path

['/content',
 '/env/python',
 '/usr/lib/python312.zip',
 '/usr/lib/python3.12',
 '/usr/lib/python3.12/lib-dynload',
 '',
 '/usr/local/lib/python3.12/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.12/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
type(sys.path)

list

### [1.3] De Dataframes

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/clientes.csv",sep=';')

In [ ]:
print(df)

    ID  EDAD  INGRESOS RIESGO  LINEA_TC
0  123    36      1348      A     49924
1  234    52      9479      A     28454
2  345    60      7511      B     14250
3  456    40      7992      C     32064
4  567    58      2675      C      1485
5  678    47      7086      D     29157
6  789    31      4704      E     14945
7  999    42      6245      E      8798

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
variables = df.columns.to_list()
variables

['ID', 'EDAD', 'INGRESOS', 'RIESGO', 'LINEA_TC']

In [ ]:
type(variables)

list

## [2] Creaci√≥n de listas

### Actividad N001

In [ ]:
# Lista de mis 5 lugares favoritos para vacacionar
lugares=["Arequipa", "Selva central", "Cuzco", "Ica","Trujillo"]

In [ ]:
print(f"Mis lugares favoritos para vacacionar son \n{lugares}")

Mis lugares favoritos para vacacionar son
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo']

## [3] Tipos de listas

### Actividad N002

In [ ]:
nombre = 'David'
apellidoPaterno = 'Allende'
profesion = 'Estad√≠stico'
edad = 37
centroLaboral = 'MISD Solutions'
aniosExperiencia = 13

In [ ]:
print(aniosExperiencia)

13

In [ ]:
info_personal = [nombre,apellidoPaterno,profesion,edad,centroLaboral,aniosExperiencia]

In [ ]:
type(info_personal)

list

In [ ]:
print(f"Mi lista con mi informaci√≥n personal es \n{info_personal}")

Mi lista con mi informaci√≥n personal es
['David', 'Allende', 'Estad√≠stico', 37, 'MISD Solutions', 13]

## [4] Acceder a los elementos de una lista

### Actividad N003

In [ ]:
print(f"La lista de mis 5 lugares favoritos es \n{lugares}")

La lista de mis 5 lugares favoritos es
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo']

In [ ]:
print(f"El tercer lugar es {lugares[2]}")

El tercer lugar es Cuzco

In [ ]:
print(f"Mi lugar favorito nro 3 es\n{lugares[3]}")

Mi lugar favorito nro 3 es
Ica

In [ ]:
print(f"Mi lugar favorito nro 5 es\n{lugares[-1]}")

Mi lugar favorito nro 5 es
Trujillo

In [ ]:
# Tipo de dato del elemento que se encuentra en la √∫ltima posici√≥n de la lista lugares
type(lugares[-1])

str

In [ ]:
print(f"Mi lugar favorito nro 5 es\n{lugares[-1].upper()}")

Mi lugar favorito nro 5 es
TRUJILLO

In [ ]:
print(f"Mi lugar favorito nro 5 es\n{lugares[-1].lower()}")

Mi lugar favorito nro 5 es
trujillo

### Actividad N004

In [ ]:
print(f"La lista con mi informaci√≥n personal es \n{info_personal}")

La lista con mi informaci√≥n personal es
['David', 'Allende', 'Estad√≠stico', 37, 'MISD Solutions', 13]

In [ ]:
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, tengo {info_personal[3]} a√±os, trabajo en la empresa {info_personal[4]} y tengo {info_personal[5]} de experiencia profesional.")

Hola, me llamo David Allende soy Estad√≠stico, tengo 37 a√±os, trabajo en la empresa MISD Solutions y tengo 13 de experiencia profesional.

### Actividad N005

In [ ]:
marcas = ['nike','adidas','puma','new balance','walon']

In [ ]:
print(f"La lista marcas es \n{marcas}")

La lista marcas es
['nike', 'adidas', 'puma', 'new balance', 'walon']

In [ ]:
print(f"El √∫ltimo elemento de la lista marcas es {marcas[-1]}")

El √∫ltimo elemento de la lista marcas es walon

In [ ]:
print(f"El √∫ltimo elemento de la lista marcas es {marcas[-1].capitalize()}")

El √∫ltimo elemento de la lista marcas es Walon

In [ ]:
marcas.append('Coca Cola') # append me permite a√±adir elementos al final de la lista
print(f"La lista marcas actualizada es \n{marcas}")

La lista marcas actualizada es
['nike', 'adidas', 'puma', 'new balance', 'walon', 'Coca Cola']

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Ingresando elementos a una lista a partir de un bucle FOR por teclado
marcas=[] # lista vac√≠a
for i in range(5):
  ingreso_marcas = input(f"Ingrese la marca # {i+1}: ").capitalize()
  marcas.append(ingreso_marcas)
print(f"La lista marcas es \n{marcas}")
print(f"El √∫ltimo elemento ingresado a la lista marcas es {marcas[-1]}")

Ingrese la marca # 1: adidas
Ingrese la marca # 2: nike
Ingrese la marca # 3: tito
Ingrese la marca # 4: tottus
Ingrese la marca # 5: interbank
La lista marcas es
['Adidas', 'Nike', 'Tito', 'Tottus', 'Interbank']
El √∫ltimo elemento ingresado a la lista marcas es Interbank

## [5] Modificar los elementos de una lista

In [ ]:
print(f"Mi lista de marcas favoritas es \n{marcas}")

Mi lista de marcas favoritas es
['Adidas', 'Nike', 'Tito', 'Tottus', 'Interbank']

In [ ]:
marcas[-1] = 'BCP'

In [ ]:
print(f"Mi lista actualizada de marcas favoritas es \n{marcas}")

Mi lista actualizada de marcas favoritas es
['Adidas', 'Nike', 'Tito', 'Tottus', 'BCP']

### Actividad N006

In [ ]:
nombre = 'Juan'
apellidoPaterno = 'Alarcon'
profesion = 'Sistemas'
edad = 38
centroLaboral = 'Scotiabank Peru'
aniosExperiencia = 15

info_personal = [nombre,apellidoPaterno,profesion,edad,centroLaboral,aniosExperiencia]
print(f"Mi informacion personal es \n {info_personal}")
info_personal[4]="BBVA"
print(f"\nMi informacion personal es actaulizada \n {info_personal}")

Mi informacion personal es
 ['Juan', 'Alarcon', 'Sistemas', 38, 'Scotiabank Peru', 15]

Mi informacion personal es actaulizada
 ['Juan', 'Alarcon', 'Sistemas', 38, 'BBVA', 15]

## [6] A√±adir elementos a una lista

### [6.1] M√©todo .append()

### Actividad N007

In [ ]:
print(f"Mis lugares favoritos para visitar son : \n{lugares}")

Mis lugares favoritos para visitar son :
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo']

In [ ]:
lugares.append('Amazonas')
print(f"La lista de lugares actualizada es \n{lugares}")

La lista de lugares actualizada es
['Arequipa', 'Selva central', 'Cuzco', 'Ica', 'Trujillo', 'Amazonas']

### [6.2] M√©todo .insert()

### Actividad N008

In [ ]:
print(f"La lista de mi informaci√≥n personal es \n{info_personal}")

La lista de mi informaci√≥n personal es
['Juan', 'Alarcon', 'Sistemas', 38, 'BBVA', 15]

In [ ]:
info_personal.insert(3,'Utec')

In [ ]:
print(f"Hola, me llamo {info_personal[0]} {info_personal[1]} soy {info_personal[2]}, estudi√© en la instituci√≥n {info_personal[3].upper()}, tengo {info_personal[4]} a√±os, trabajo en la empresa {info_personal[5]} y tengo {info_personal[6]} a√±os de experiencia profesional.")

Hola, me llamo Juan Alarcon soy Sistemas, estudi√© en la instituci√≥n UTEC, tengo 38 a√±os, trabajo en la empresa BBVA y tengo 15 a√±os de experiencia profesional.

## [7] Eliminar elementos de una lista

### [7.1] M√©todo del

### Actividad N009

In [ ]:
print(f"La lista marcas es \n{marcas}")

La lista marcas es
['Adidas', 'Nike', 'Tito', 'Tottus', 'BCP']

In [ ]:
del marcas[1]
print(f"La lista marcas es \n{marcas}")

La lista marcas es
['Adidas', 'Tito', 'Tottus', 'BCP']